<div class="header">
  <div class="content">
    <p class="knowledgr brandon">Knowledgr</p>
    <p class="byline brandon">THANK YOU FOR SIGNING UP</p>
  </div>
</div>

<div class="hero">
  <div class="page-content clearfix">
    <div class="share-wrap">
      <p class="why brandon">We have added your email address to the signup queue.</p>
      <p class="title brandon">You're now in #<span><%= @queue_position %></span> in line</p>
      <p class="subtitle brandon">who have collectively invited <%= @total_users %> people.</p>
      
      <p class="info-title brandon">What will you question?</p>
      <p class="info-subtitle brandon">Share this invitation with your friends and move to the front of the waiting list.</p>
      <div class="copy-link brandon"><%= root_url %>?ref=<%= @user.referral_code %></div>
      <% twitter_message = "A scientific revolution is coming. Click here to join the waiting list, by invite only link." %>
      <div class="social-links">
        <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Knowledgr" class="fb" target="_blank"></a>
        <div class="sep"></div>
        <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
      </div>
    </div>
  </div>
</div>
